// 定义变量
@fff:#fff;

.layout{
  .logo{
        width: inherit;
        height: 64px;
        // background: url(../images/logo.jpg) no-repeat;
        // -moz-background-size:100% 100%;
        // background-size:100% 100%;
        text-align: center;
        line-height: 64px;
        border-bottom: 1px solid #b1acac;
        color: #fff;
        h3{
           color: @fff !important;
        }
  }
  .header{
     background: #fff;
  }
}
